.footer-content{
    height: 16vh;
    color: white;
    display: flex;
    flex-direction: row;
    flex: 1;
    

    margin-left: 16px;
    margin-right: 16px;
    max-width: 1920px;
}
.social-media{
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.social-media-icon{
    height: 56px;
    width: 56px;
    align-content: center;
}
@media(max-width: 960px){ 
    footer{
        height: 12vh;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: center;
        align-items: center;
    }
    .footer-content{
        height: 12vh;
        justify-content: center;
        flex: 1;
    }
    .social-media-icon{
        height: 40px;
        width: 40px;
        display: none;
    }
    .social-media{
        gap: 8px;
    }

    .footer-text{
        font-size: 12px;
    }
    .logo-parent{
        display: flex;
        flex-direction: column;
        gap: 4px;
        flex: 1;
        justify-content: center;
    }
}